* {
  margin: 0;
  padding: 0;
}
html , body {
  width: 100%;
  height: 100%;
}
.title {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 30px;
  font-family: 幼圆;
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-text {
  flex: 8;
  text-align: left;
}
.sign {
  flex: 1;
  text-align: center;
}
.login-text {
  flex: 8;
  text-align: right;
}
.title, #login-form, #register-form {
  display: none;
}
.subbtn {
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
  height: 25px;
  width: 30%;
  margin: 12px auto;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
}
.form {
  height: auto;
  margin: 40px auto;
  padding: 8px;
}
.form *:focus{
  outline: none;
}
.form ul li {
  padding: 10px;
}
.form ul li label {
  width: 80px;
  display: inline-block;
  text-align: center;
}
.form ul li input[name=cardno],
.form ul li input[name=name],
.form ul li input[name=major] {
  width: 140px;
  height: 20px;
  border: 1px solid #AAAAAA;
  padding: 3px 12px;
  border-radius: 5px;
  /*color: #CCC;*/
}
.form ul li input[name=cardno],
.form ul li input[name=name] {
  background: url("../img/aterisk.png") no-repeat #FFF 98%;
  background-size: 8px 12px;
}
