* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font: normal normal 16px/30px arial,"微软雅黑";
}
#container {
  text-align: center;
  width: 100%;
  height: 100%;
  background: url(../img/background_1.png);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.myPlane {
  width: 66px;
  height: 80px;
  background:url(../img/myPlane.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 110;
  bottom: 0;
  left: 45%;
}
.banglane {
  background:url(../img/myPlaneBang.gif);
}
.npc1{width: 34px;height: 24px;background:url(../img/npc1.png) no-repeat; background-size: 100% 100%; position: absolute; top: 0; left: 45%;}
.npc2{width: 46px;height: 60px;background:url(../img/npc2.png) no-repeat; background-size: 100% 100%;  position: absolute; top: 0; left: 45%;}
.npc3{width: 110px;height: 164px;background:url(../img/npc3.png) no-repeat; background-size: 100% 100%;  position: absolute; top: 0; left: 45%;}
.npc4{width: 54px;height: 76px;background:url(../img/npc4.png); position: absolute; top: 0; left: 45%;}
#container i.lv1{position: absolute; width: 6px; height: 14px; background:url(../img/bullet1.png) no-repeat; background-size: 100% 100%; }
#container i.lv2{position: absolute; width: 32px; height: 39px; background:url(../img/bullet2.png) no-repeat; background-size: 100% 100%; }
#container i.lv3{position: absolute; width: 66px; height: 62px; background:url(../img/bullet3.png) no-repeat; background-size: 100% 100%; }
#container span{display: block;position: absolute;}
.bang1{ background:url(../img/plane1.gif); }
.bang2{background:url(../img/plane2.gif);  }
.bang3{background:url(../img/plane3.gif);  }
.bang4{background:url(../img/plane4.gif); }

#score{position: absolute; left:0; top: 0; padding: 0 10px;}

#begin_btn{
  margin-left: 33%;
  width: 40%;
  top: 59%;
  font-size: 22px;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  color: #0aff23;
}
#score_btn{
  margin-left: 33%;
  width: 40%;
  top: 75%;
  font-size: 22px;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  color: yellow;
}
#again_btn{
  height: 30px;
  width: 80% !important;
  max-width: 120px;
  font-size: 16px;
  background: none;
  border:1px solid #333;
  border-radius: 15px;
  margin-bottom: 6px;
  outline: none;
  color: yellow;
}
#pause_btn{
  height: 40px;
  width: 40%;
  font-size: 22px;
  background: none;
  border: none;
  border-radius: 15px;
  padding: 6px 30px;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  color: #0aff23;
}
#begin{
  position: absolute;
  background: url(../img/begin.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#pause{	width: 100%; height: 100%; z-index: 99; position: relative; text-align: center; display: none;}
#info{	width: 45%;  background: #ccc; text-align: center; display: none; border:1px solid #333; border-radius: 5px;
margin: 66% auto 0;
position: relative; z-index: 99;
}
#endScroe{ height:48%; line-height: 400%; border:1px solid #333; border-width: 1px 0; font-weight: bold;}
#container #again_btn{ margin-top:4% ; background: #fff;}

/* 注册页面样式 */