* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  font: normal normal 16px/30px arial,"微软雅黑";
}
#container {
  /*text-align: center;*/
  width: 100%;
  height: 100%;
  background: url(../img/background_1.png);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.myPlane {
  width: 66px;
  height: 80px;
  background:url(../img/myPlane.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 90;
  bottom: 0;
  left: 45%;
}
.banglane {
  background:url(../img/myPlaneBang.gif);
  background-size: 100% 100%;
}
.npc1{width: 34px;height: 24px;background:url(../img/npc1.png) no-repeat; background-size: 100% 100%; position: absolute; top: 0; left: 45%;}
.npc2{width: 46px;height: 60px;background:url(../img/npc2.png) no-repeat; background-size: 100% 100%;  position: absolute; top: 0; left: 45%;}
.npc3{width: 110px;height: 164px;background:url(../img/npc3.png) no-repeat; background-size: 100% 100%;  position: absolute; top: 0; left: 45%;}
.npc4{width: 54px;height: 76px;background:url(../img/npc4.png); position: absolute; top: 0; left: 45%;}
#container i.lv1{position: absolute; width: 6px; height: 14px; background:url(../img/bullet1.png) no-repeat; background-size: 100% 100%; }
#container i.lv2{position: absolute; width: 32px; height: 39px; background:url(../img/bullet2.png) no-repeat; background-size: 100% 100%; }
#container i.lv3{position: absolute; width: 66px; height: 62px; background:url(../img/bullet3.png) no-repeat; background-size: 100% 100%; }
#container span{
  display: block;
  position: absolute;
}
.bang1{ background:url(../img/plane1.gif); background-size: 100% 100%}
.bang2{background:url(../img/plane2.gif);  background-size: 100% 100%}
.bang3{background:url(../img/plane3.gif);  background-size: 100% 100%}
/*.bang4{background:url(../img/plane4.gif); }*/

#score {
  position: absolute;
  height: 35px;
  left:0;
  top: 2px;
  padding: 0 10px;
  color: red;
  z-index: 100;
}
#maxscore {
  position: absolute;
  height: 35px;
  right:0;
  top: 0;
  padding: 0 10px;
  color: red;
  z-index: 100;
}

#begin_btn {
  margin-left: 25%;
  width: 50%;
  height: 10%;
  top: 57%;
  background: url("../img/begin_btn.png") center;
  background-size: 100% 100%;
  position: absolute;
}
#score_btn {
  margin-left: 25%;
  height: 10%;
  width: 50%;
  top: 74%;
  background: url("../img/score_btn.png") center;
  background-size: 100% 100%;
  position: absolute;
}
#login_btn {
  right: 5px;
  top: 2px;
  font-size: 14px;
  position: absolute;
  color: #cccccc;
}
#again_btn {
  height: 40px;
  width: 60% !important;
  background: url("../img/pause.png") center;
  background-size: 100% 100%;
  margin-bottom: 18px;
  margin-left: 20%;
}
#update_score {
  height: 40px;
  width: 60% !important;
  background: url("../img/update.png") center;
  background-size: 100% 100%;
  margin-bottom: 18px;
  margin-left: 20%;
}
#pause_btn {
  width: 150px;
  height: 150px;
  background: url("../img/continue.png") center;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 102;
}
#begin{
  position: absolute;
  background: url(../img/begin.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#pause{
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
  text-align: center;
  display: none;
}
#info-wrapper {
  height: 100%;
  width: 100%;
  display: none;
}
#info{
  width: 64%;
  max-width: 205px;
  max-height: 250px;
  background: rgb(55,119,206);
  text-align: center;
  display: block;
  border:none;
  border-radius: 5px;
  margin: 60% auto 0 18%;
  position: absolute;
  z-index: 101;
}
.pauseicon {
  position: absolute;
  width: 50px;
  height: 35px;
  right: 2px;
  top: 4px;
  background: url("../img/pauseicon.png") center;
  background-size: 100% 100%;
  z-index: 90;
}
.totalicon {
  background: url("../img/scoreicon2.png") center ;
  background-size: 100% 100%;
  height: 36px;
  width: 60%;
  margin: 5px auto;
}
#endScroe{
  height: 60px;
  line-height: 60px;
  font-size: 26px;
  font-weight: bold;
  font-family: 幼圆;
}
#scorearea {
  position: absolute;
  top: 6px;
  left: 4px;
}
#scorearea * {
  vertical-align: middle;
}
#scorearea img {
  height: 20px;
  width: 66px;
}
#scoretexticon {
  /*border: 4px solid black;*/
}
#scoretext {
  font-size: 20px;
  height: 20px;
  color: white;
}
.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  filter:alpha(Opacity=80);
  -moz-opacity:0.5;
  opacity: 0.5;
  z-index:100;
  background-color: rgb(7,28,52);
}
