<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>高分榜</title>
  <link rel="stylesheet" href="__CSS__/highscore.css" />
  <script src="__JS__/jquery-1.10.1.min.js"></script>
  <script src="__JS__/highscore.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="back"></div>
  <table class="table" id="table">
    <thead>
    <tr class="table-header">
      <td width="36%" class="td_top"></td>
      <td width="35%" class="td_top"></td>
      <td width="33%" class="td_top"></td>
    </tr>
    </thead>
    <tbody>
      <tr class="data">
        <td class="item rank"></td>
        <td class="item name"></td>
        <td class="item score"></td>
        <!--<td class="item school"></td>-->
        <td class="item major"></td>
      </tr>
    </tbody>
  </table>
</div>
<!--<div class="jiathis_style_m" style="position: absolute;left: 10px;bottom: 10px;z-index: 1000;"></div>-->
<!--<script type="text/javascript" src="__JS__/share.js" charset="utf-8"></script>-->
</body>
</html>