<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>高分榜</title>
  <link rel="stylesheet" href="__CSS__/highscore.css" />
  <script src="__JS__/jquery-1.10.1.min.js"></script>
  <script src="__JS__/highscore.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="back"></div>
  <table class="table" id="table">
    <thead>
    <tr class="table-header">
      <td width="25%" class="td_top">名次</td>
      <td width="24%" class="td_top">姓名</td>
      <td width="23%" class="td_top">分数</td>
      <!--<td width="18%" class="td_top">学校</td>-->
      <td width="28%" class="td_top">学院</td>
    </tr>
    </thead>
    <tbody>
      <tr class="data">
        <td class="item rank"></td>
        <td class="item name"></td>
        <td class="item score"></td>
        <!--<td class="item school"></td>-->
        <td class="item major"></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>