<!doctype html>
<html lang="en">
<head>
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="UTF-8" />
	<title>play plane</title>
	<link rel="stylesheet" href="__CSS__/view.css" />
  <script src="__JS__/jquery-1.10.1.min.js"></script>
  <script src="__JS__/plane.js"></script>
  <script src="__JS__/ajax.js"></script>
	<script src="__JS__/cookie.js"></script>
	<script src="__JS__/bullet.js"></script>
	<script src="__JS__/main.js"></script>
	<script src="__JS__/user.js"></script>
</head>
<body>
	<div id="container">
		<div id="begin">
			<div id="begin_btn" type="button"></div>
			<div id="score_btn" type="button"></div>
      <!--<div id="login_btn" type="button">登录 / 注册</div>-->
    </div>
		<div id="pause">
      <div id="pause_btn" type="button"></div>
      <div class="filter"></div>
    </div>
    <div class="pauseicon" onclick="clickPauseIcon()"></div>
		<div class="musicicon" onclick="clickMusicIcon()"></div>
		<audio id="music" src="http://localhost/plane_war/public/static/plane_war/media/bg.mp3"  loop="loop">你的浏览器不支持audio标签。</audio>
		<div id="scorearea">
			<img id="scoretexticon" src="http://localhost/plane_war/public/static/plane_war/img/scoreicon1.png">
			<a id="scoretext"></a>
		</div>
	</div>
	<div id="info-wrapper">
		<div class="filter" style="opacity: 0"></div>
		<div id="info">
			<div id="endScroe"></div>
			<form name="lform" class="form">
				<ul>
					<li>
						<input name="name" placeholder=" 留下你的姓名"><br/>
					</li>
				</ul>

			</form>
			<div id="againgame"></div>
			<div id="again_btn"></div>
			<div id="update_score" ></div>
		</div>
	</div>
</body>
</html>