<!doctype html>
<html lang="en">
<head>
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="UTF-8" />
	<title>play plane</title>
	<link rel="stylesheet" href="__CSS__/view.css" />
  <script src="__JS__/jquery-1.10.1.min.js"></script>
  <script src="__JS__/plane.js"></script>
  <script src="__JS__/ajax.js"></script>
	<script src="__JS__/cookie.js"></script>
	<script src="__JS__/bullet.js"></script>
	<script src="__JS__/main.js"></script>
	<script src="__JS__/user.js"></script>
</head>
<body>
	<div id="container">
		<div id="begin">
			<div id="begin_btn" type="button">开始游戏</div>
			<div id="score_btn" type="button">高分记录</div>
      <div id="login_btn" type="button">登录 / 注册</div>
    </div>
		<div id="pause">
      <div id="pause_btn" type="button">继续游戏</div>
    </div>
    <div class="pauseicon">暂停</div>
		<div id="info">总共得分
			<div id="endScroe"></div>
			<input id="again_btn" type="button" value="重新开始" />
			<input id="update_score" type="button" value="" />
		</div>
		<div id="score"></div>
		<div id="maxscore"></div>
	</div>
</body>
</html>