<!doctype html>
<html lang="en">
<head>
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="UTF-8" />
	<title>play plane</title>
	<link rel="stylesheet" href="__CSS__/view.css" />
	<script src="__JS__/plane.js"></script>
	<script src="__JS__/bullet.js"></script>
	<script src="__JS__/main.js"></script>
</head>
<body>
	<!-- <input type="button" value="开始" /> -->
	<div id="container">
		<div id="begin">
			<div id="begin_btn" type="button">开始游戏</div>
      <div id="score_btn" type="button">高分记录</div>
    </div>
		<div id="pause">
      <input id="pause_btn" type="button" value="继续游戏" />
    </div>
		<div id="info">总共得分
			<div id="endScroe"></div>
			<input id="again_btn" type="button" value="重新开始" />
		</div>
		<div id="score"></div>
	</div>
</body>
</html>