<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>登录页</title>
    <link rel="stylesheet" href="__CSS__/view.css" />
    <script src="__JS__/plane.js"></script>
    <script src="__JS__/bullet.js"></script>
    <script src="__JS__/main.js"></script>
</head>
<body>
<form action="__PLANE__/login/oklogin" method="post">
    卡号： <input name="cardno"><br/>
    <!--姓名： <input name="name"><br/>-->
    <button type="submit">submit</button>
</form>
</body>
</html>